In [2]:
import pandas as pd
import numpy as np

In [5]:
data = np.random.rand(5, 4)
data

array([[0.98821481, 0.68486551, 0.62182736, 0.98239167],
       [0.80054335, 0.61158102, 0.43292361, 0.18904637],
       [0.96803187, 0.60864223, 0.17217647, 0.624948  ],
       [0.12864484, 0.65083941, 0.39148266, 0.61821354],
       [0.40071524, 0.48560749, 0.65327769, 0.87541538]])

In [7]:
df = pd.DataFrame(data, index=["A", "B", "C", "D", "E"], columns="W Y X Z".split())

In [8]:
df

          W         Y         X         Z
A  0.988215  0.684866  0.621827  0.982392
B  0.800543  0.611581  0.432924  0.189046
C  0.968032  0.608642  0.172176  0.624948
D  0.128645  0.650839  0.391483  0.618214
E  0.400715  0.485607  0.653278  0.875415

In [9]:
df["W"]

A    0.988215
B    0.800543
C    0.968032
D    0.128645
E    0.400715
Name: W, dtype: float64

In [10]:
df["Z"]

A    0.982392
B    0.189046
C    0.624948
D    0.618214
E    0.875415
Name: Z, dtype: float64

In [13]:
c = ["W", "X"]
df[c]

          W         X
A  0.988215  0.621827
B  0.800543  0.432924
C  0.968032  0.172176
D  0.128645  0.391483
E  0.400715  0.653278

In [15]:
df[["X", "W"]]

          X         W
A  0.621827  0.988215
B  0.432924  0.800543
C  0.172176  0.968032
D  0.391483  0.128645
E  0.653278  0.400715

In [16]:
df

          W         Y         X         Z
A  0.988215  0.684866  0.621827  0.982392
B  0.800543  0.611581  0.432924  0.189046
C  0.968032  0.608642  0.172176  0.624948
D  0.128645  0.650839  0.391483  0.618214
E  0.400715  0.485607  0.653278  0.875415

In [19]:
df[["Y","X", "Z"]]

          Y         X         Z
A  0.684866  0.621827  0.982392
B  0.611581  0.432924  0.189046
C  0.608642  0.172176  0.624948
D  0.650839  0.391483  0.618214
E  0.485607  0.653278  0.875415

In [22]:
df

          W         Y         X         Z
A  0.988215  0.684866  0.621827  0.982392
B  0.800543  0.611581  0.432924  0.189046
C  0.968032  0.608642  0.172176  0.624948
D  0.128645  0.650839  0.391483  0.618214
E  0.400715  0.485607  0.653278  0.875415

In [21]:
df.loc["A"]

W    0.988215
Y    0.684866
X    0.621827
Z    0.982392
Name: A, dtype: float64

In [23]:
type(df.loc["A"])

pandas.core.series.Series

In [24]:
df.columns

Index(['W', 'Y', 'X', 'Z'], dtype='object')

In [26]:
df.iloc[0] #first row

W    0.988215
Y    0.684866
X    0.621827
Z    0.982392
Name: A, dtype: float64

In [28]:
df.iloc[:,0] #first column

A    0.988215
B    0.800543
C    0.968032
D    0.128645
E    0.400715
Name: W, dtype: float64

In [30]:
df["W"].mean()

0.65723002331242

In [31]:
df["W"].sum()

3.2861501165620997

In [34]:
from scipy.stats import mode

In [35]:
df

          W         Y         X         Z
A  0.988215  0.684866  0.621827  0.982392
B  0.800543  0.611581  0.432924  0.189046
C  0.968032  0.608642  0.172176  0.624948
D  0.128645  0.650839  0.391483  0.618214
E  0.400715  0.485607  0.653278  0.875415

In [36]:
df["W"] > 0.5

A     True
B     True
C     True
D    False
E    False
Name: W, dtype: bool

In [37]:
df[df["W"] > 0.5]

          W         Y         X         Z
A  0.988215  0.684866  0.621827  0.982392
B  0.800543  0.611581  0.432924  0.189046
C  0.968032  0.608642  0.172176  0.624948

In [40]:
df[(df["W"] > 0.5) & (df["X"] < 0.6)]

          W         Y         X         Z
B  0.800543  0.611581  0.432924  0.189046
C  0.968032  0.608642  0.172176  0.624948